.main-header 
  .main-header__left-box 
    %h2.main-header__left-box__current-group test_group
    %ul.main-header__left-box__member-list member
    %li.main-header__left-box__member-list__member ken 
    %li.main-header__left-box__member-list__member hide 
  .main-header  
    =link_to "/users/edit" do
      .main-header__edit-btn-Edit Edit   
