.messages 
  .message 
    .message__upper-info 
      %p.message__upper-info__talker ken 
      %p.message__upper-info__date 2020/07/04(sun) 18:21:00 
    %p.message__text hello!! 
  .message 
    .message__upper-info 
      %p.message__upper-info__talker hide
      %p.message__upper-info__date 2020/07/05(mon) 07:00:02 
    %p.message__text good morning!!  